//Import dependencies
@import "siimple-colors/scss/colors.scss";

//Projects style
.neutrine-projects {
    display: block;
    margin-bottom: 15px;
    //Projects row
    &-row {
        display: flex;
        flex-direction: row;
        flex-wrap: nowrap;
        justify-content: flex-start;
        min-height: 50px;
        transition: background-color 0.3s;
        border-radius: 5px;
        &:hover {
            background-color: $siimple-grey-light;
        }
    }
    //Projects column
    &-column {
        //display: block;
        display: flex;
        align-items: center;
        flex-direction: column;
        padding: 10px;
    }
    //Info column
    &-info {
        &-title {
            display: block;
            font-weight: 600;
            display: block;
            width: 100%;
        }
        &-description {
            display: block;
            width: 100%;
            font-size: 13px;
            color: $siimple-navy-extra-light;
        }
    }
}

