//Import dependencies
@import "siimple/scss/_variables.scss";

//Box component
.neutrine-box {
    display: block;
    padding: 15px;
    border-radius: 5px;
    background-color: siimple-default-color("light", "light");
    //Box header
    &-header {
        display: block;
        font-size: 16px;
        font-weight: bold;
        height: 24px;
        line-height: 24px;
        //cursor: pointer;
        //Header title
        //&-title {
        //    font-weight: bold;
        //}
    }
    //Header label
    //&-label {
    //    display: inline-block;
    //    font-size: 13px;
    //    font-weight: normal;
    //    line-height: 1;
    //    border-radius: 20px;
    //    padding-top: 3px;
    //    padding-bottom: 3px;
    //    padding-left: 5px;
    //    padding-right: 5px;
    //    margin-left: 5px;
    //    color: siimple-default-color("dark", "light");
    //    background-color: rgba(#ffffff, 0.8);
    //}
    //Box body 
    &-body {
        display: block;
        padding-top: 10px;
        padding-bottom: 10px;
        //Not first element --> show rule
        &:not(:first-child) {
            margin-top: 10px;
            padding-top: 20px;
            border-top: 1px solid siimple-default-color("light", "dark");
        }
    }
    //Box collapsed
    //&--collapsed &-body {
    //    display: none;
    //}
    //Box title
    //&-title {
    //    font-size: 20px;
    //    font-weight: bold;
    //    margin-bottom: 1px;
    //}
    ////Box description
    //&-description {
    //    font-size: 14px;
    //    font-weight: normal;
    //    line-height: 22px;
    //    color: siimple-default-color("dark", "light");
    //    margin-bottom: 10px;
    //}
}

